@import "@/ui/animations/animations.module.css";

.parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--secondary-clr-100-transparent);
}

.mainBackground {
  background: url("/src/assets/image/main-background.png") no-repeat center
    center/cover;

  @media (width <= 640px) {
    background-image: url("/src/assets/image/main-background.png");
    background-position: 40% 50%;
    background-repeat: no-repeat;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 2rem;
  opacity: 1;
}

.footer {
  background-color: var(--secondary-clr-100-transparent);
}

.battleshipLogoSection {
  margin-bottom: auto;
  display: flex;
  align-items: start;
  justify-content: center;
}

.battleshipLogo {
  width: 30rem;
  animation: float 3s ease-in-out infinite;
  @media (width <= 640px) {
    width: 90%;
  }
  @media (width <= 500px) {
    width: 100vw;
  }
}

.homeButtonsSection {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  flex-wrap: wrap;
  gap: 5rem 2rem;
  margin-bottom: 15rem;

  @media (width <= 800px) {
    margin-bottom: 3rem;
  }
}

.homeButton {
  padding: 1.5rem 2.5rem;
  width: 20rem;
  background-color: var(--neutral-clr-800);
  color: var(--primary-clr-50);
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  font-size: 2rem;
  box-shadow: 0.5rem 0.5rem 1rem var(--neutral-clr-900);
  font-family: var(--primary-font);
  transition: transform 0.2s ease-in-out;
  animation: expand 2s ease-in-out infinite;
}

.homeButton:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
  animation: none;
}
