@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");
@import "@/ui/animations/animations.module.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Jersey 10", sans-serif;

  --primary-clr-50: rgb(224, 242, 241);
  --primary-clr-100: rgb(178, 223, 219);
  --primary-clr-200: rgb(128, 203, 196);
  --primary-clr-300: rgb(77, 182, 172);
  --primary-clr-400: rgb(38, 166, 154);
  --primary-clr-500: rgb(0, 150, 136);
  --primary-clr-600: rgb(0, 137, 123);
  --primary-clr-700: rgb(0, 121, 107);
  --primary-clr-800: rgb(0, 105, 92);
  --primary-clr-900: rgb(0, 77, 64);

  --secondary-clr-50: rgb(251, 239, 231);
  --secondary-clr-100: rgb(247, 222, 199);
  --secondary-clr-100-transparent: rgba(247, 222, 199, 0.3);
  --secondary-clr-200: rgb(239, 199, 154);
  --secondary-clr-300: rgb(231, 176, 108);
  --secondary-clr-400: rgb(223, 154, 64);
  --secondary-clr-500: rgb(214, 130, 24);
  --secondary-clr-600: rgb(201, 111, 21);
  --secondary-clr-700: rgb(184, 89, 17);
  --secondary-clr-800: rgb(155, 75, 16);
  --secondary-clr-900: rgb(123, 58, 13);

  --accent-clr-50: rgb(253, 224, 224);
  --accent-clr-100: rgb(249, 179, 179);
  --accent-clr-200: rgb(246, 128, 128);
  --accent-clr-300: rgb(242, 77, 77);
  --accent-clr-400: rgb(239, 36, 36);
  --accent-clr-500: rgb(236, 0, 0);
  --accent-clr-600: rgb(210, 0, 0);
  --accent-clr-700: rgb(180, 0, 0);
  --accent-clr-800: rgb(150, 0, 0);
  --accent-clr-900: rgb(105, 0, 0);

  --neutral-clr-50: rgb(236, 239, 241);
  --neutral-clr-100: rgb(207, 216, 220);
  --neutral-clr-200: rgb(176, 191, 197);
  --neutral-clr-300: rgb(144, 164, 174);
  --neutral-clr-400: rgb(120, 144, 156);
  --neutral-clr-500: rgb(96, 125, 139);
  --neutral-clr-600: rgb(84, 110, 122);
  --neutral-clr-700: rgb(69, 90, 100);
  --neutral-clr-800: rgb(55, 71, 79);
  --neutral-clr-900: rgb(38, 50, 56);

  --header-height: 9dvh;
  --min-board-size: 330px;
  --max-board-size: 700px;
}

body {
  background-color: var(--neutral-clr-900);
  min-width: 100dvw;
  min-height: 100dvh;
  background: url("/src/assets/image/main-background.png") no-repeat center
    center/cover;

  @media (width <= 640px) {
    background-image: url("/src/assets/image/main-background.png");
    background-position: 40% 50%;
    background-repeat: no-repeat;
  }
}

main {
  width: 100%;
  height: calc(100dvh - var(--header-height));
  flex-grow: 1;
  overflow-y: auto;
}

footer {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  height: var(--header-height);
  padding: 0.75rem;
  position: fixed;
  bottom: 0;
  right: 0;
}

.header-wrapper {
  background-color: var(--secondary-clr-100-transparent);
}

footer a {
  text-decoration: none;
}

footer img {
  width: 2rem;
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(100%) sepia(25%) saturate(4613%)
    hue-rotate(175deg) brightness(111%) contrast(90%);
}

footer #game-messages {
  font-size: 2.5rem;
  margin-right: auto;
  margin-left: 0.5rem;
  font-family: var(--primary-font);
  line-height: 1;
  color: var(--primary-clr-50);

  @media (width <= 460px) {
    font-size: 1.75rem;
  }
}

.png {
  width: 3rem;
  height: auto;
  aspect-ratio: 1;
}

.github {
  width: 2.5rem;
}
